.main-content {
  width: 100% !important;
  padding-right: 3em;
  padding-right: 3em;
}

div.complete-profile.box {
  margin-left: -0.5em;
  margin-right: auto;
  margin-top: 0;
  height: fit-content;

  width: 110%;
}
div.complete-profile.cp {
  margin-left: -0.6em;
  margin-right: auto;
  margin-top: 0;
  height: fit-content;
}
div.complete-profile.client-profile {
  margin-left: -0.6em;
}
.profile-data {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border: none;
  width: 100% !important;
  margin: 0 auto;
}

.bio-data {
  grid-row: 1 / 2;
  border-right: none;
  text-align: center;
}
.residence {
  grid-row: 3 / 4;
  border-right: none;
  text-align: center;
  margin-top: 2em;
}

.work-data {
  grid-row: 5 / 6;
  border-left: none;
  text-align: center;
  margin-top: 2em;
  padding-top: 0.5em;
}
form h3 {
  font-family: 'Verdana';
  text-align: center;
  margin-top: 0;
}
img.user-image {
  height: 100px;
  width: 100px;
}
label {
  text-align: center;
}
select {
  margin: 0 auto;
}

input,
select {
  width: 70%;
}
.input,
label,
select {
  display: grid;
  text-align: center;
  font-size: 18px;
}

.input input,
.input select {
  font-family: 'Circular-Light';
  font-size: 18px;
  border: 1px solid #c5cfd9;
  background: #ffffff;
}
.input input.img,
.input img.user-image {
  margin: 0 auto;
}
.input input.img {
  border: none;
  width: 200px;
  margin: 5px 6em;
}
.profile-Input {
  padding: 0.6rem;
  border-radius: 8px;
}

form label {
  font-weight: 500;
}
.profile {
  padding-top: 15px;
}
.primary-btn.cp {
  width: fit-content;
  margin: 10px auto;
  text-align: center;
  background: rgb(25, 92, 92);
  color: #f1f1f2;
  padding: 0.8rem 1.2rem;
  line-height: 9px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
  display: block;
  transition: all 0.5s ease;
  text-decoration: none;
}
.btn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -moz-border-radius: 50px;
  margin: 20px 35%;
  margin-right: 5px;
  font-size: 16px;
  height: 40px;
  color: white;
  width: 70px;
  text-align: center;
}
div.lineBorder > span {
  font-weight: 600;
  text-align: center;
}
div.input a {
  width: 6em;
  margin: 10px auto;
  text-align: center;
  padding: 1.5rem 1.2rem;
  line-height: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
  display: block;
}
/* Media Queries */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  div.complete-profile.box {
    width: 80vw;
    margin-left: 10px;
    height: 85vh;
    padding-top: 1em;
  }
  .profile-data.cp {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: 'left center right';
    height: 66vh;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #111;
  }
  .profile-data {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: 'left center right';
    height: 70vh;
    margin-top: -5px;
    width: 100%;
    border: 1px solid #111;
  }

  .bio-data {
    grid-area: left;
    position: absolute;
  }
  .bio-data input {
    margin-left: -12em;
  }

  .bio-data select {
    margin-left: 1.5em;
  }
  .bio-data label {
    margin-right: 14em;
    text-align: center;
  }
  .residence {
    grid-area: center;
    height: 40vh;
    text-align: center;
    margin-top: 0;
    margin-left: 2em;
  }

  .work-data {
    margin-right: -4em;
    margin-top: 0;
    grid-area: right;
    height: 50vh;
  }

  input,
  select {
    width: 10em;
  }
  .input {
    display: grid;
    text-align: center;
  }
  .input,
  label,
  select {
    display: grid;
    text-align: center;
  }

  .input input,
  .input select {
    align-content: center;
  }

  .input img.user-image {
    margin-left: 4em;
  }
  .input > input.img {
    border: none;
    width: 40%;
    margin-left: 2em;
  }
  .btn {
    margin: 10px 45%;
    height: 30px;
  }
}
@media only screen and (min-width: 64.063em) {
  .main-content {
    width: 100% !important;
    padding-right: 3em;
    padding-right: 3em;
    height: calc(100vh- 100px) !important;
  }
  div.complete-profile.box {
    width: 65vw;
    margin-left: 13em;
    height: calc(87vh);
    padding-top: 1em;
  }
  .profile-data {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    grid-template-areas: 'left center right';
    height: 73vh;
    margin-top: -4px;
    width: 100%;
    border: 1px solid #111;
  }

  .bio-data {
    grid-area: left;
    position: absolute;
    text-align: center;
  }

  .bio-data input {
    margin-right: 7em;
    width: 60% !important;
  }

  .bio-data select {
    margin-right: 8.5em;
    width: 60%;
  }
  .bio-data label {
    margin-right: 15em;
  }
  .residence {
    grid-area: center;
    height: 40vh;
    text-align: center;
    margin-top: 0;
    margin-left: 1em;
  }

  .work-data {
    margin-top: 0;
    grid-area: right;
    height: 50vh;
  }

  input,
  select {
    width: 80%;
  }
  .input {
    display: grid;
    text-align: center;
  }
  .input input.img {
    width: 70%;
    margin-left: 2em;
  }
  .btn {
    margin: 10px 44%;
    height: 40px;
    width: 90px;
    font-size: 18px;
  }

  div.lineBorder.bio > span {
    font-weight: 600;
    text-align: center;
    margin-right: 10em;
    margin-top: -2em !important;
  }
  img.user-image {
    height: 100px;
    width: 100px;
    margin-left: 5em !important;
  }
}
