form label {
  font-weight: 500;
}
form span h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.loan-application {
  width: 80%;
  margin-left: -2em;
  margin-top: 0;
  height: fit-content;
  position: absolute;
}

.input {
  display: grid;
  grid-template-columns: 1fr;
}
.input input {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Circular-Light";
  font-size: 0.8rem;
  border: 0.5px solid #c5cfd9;
  background: #ffffff;
  width: 90%;
}

.loan {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 40px;
  margin-left: 40px;
}
label.loan {
  float: left;
  margin-right: 6em;
  margin-left: 1em;
}
.loan1 {
  padding: 0.6rem;
  border-radius: 8px;
}
.apply-btn {
  margin-top: 1rem;
  margin-bottom: 1px;
  text-align: center;
  background: rgb(25, 92, 92);
  color: #f1f1f2;
  padding: 0.8rem 1.2rem;
  line-height: 9px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
  display: block;
  transition: all 0.5s ease;
  text-decoration: none;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .input input {
    width: 70%;
    min-width: 25em;
    max-width: 35em;
    margin: 0 auto;
  }
  label.loan {
    text-align: left !important;
    margin-right: 6em;
    margin-left: 20%;
    position: static;
  }
  .loan-application {
    margin-left: 3em;
  }
  .main-content {
    height: calc(100vh - 4px);
  }
}
@media only screen and (min-width: 64.063em) {
  .input input {
    width: 50%;
    min-width: 25em;
    max-width: 35em;
    margin: 0 auto;
  }
  label.loan {
    text-align: left !important;
    margin-right: 6em;
    margin-left: 25%;
    position: static;
  }
  .loan-application {
    width: 60%;
    margin-left: 15em;
    margin-top: 1em;
  }
  form span h3 {
    text-align: center;
    margin-top: 0;
  }
  .apply-btn {
    margin-bottom: -2em;
  }
  .main-content {
    height: calc(100vh - 15px);
  }
}
