<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../styles/client_dashboard.css" />
    <link rel="stylesheet" href="../../styles/viewApplication.css" />
    <title>QUICK CREDIT - ANDELA BOOTCAMP-KIGALI</title>
  </head>
  <body>
    <div class="grid-container">
      <!--===============================================================-->
      <!--Start of Navbar-->
      <!--===============================================================-->
      <header class="header">
        <a href="#" id="nav-trigger" class="nav-trigger">
          <span><img src="../../assets/imgs/menu.svg"/></span>
        </a>
        <a class="navbar-brand" href="../../index.html">MKOPO</a>
        <div class="navbar-top-right ">
          <ul class="navbar-top-right">
            <li class="nav-item">
              <a id="user-img" class="user-img" href="#"
                ><img class="user-img" src="../../assets/imgs/user.png"
              /></a>
              <div id="dropdown-menu" class="dropdown-menu drop-hidden">
                <div class="user-name">
                  <h5>Musinda Kadhuwa</h5>
                </div>
                <ul>
                  <li>
                    <a class="dropdown-item" href="./userProfile.html">
                      <span><img src="../../assets/imgs/man-user.png"/></span>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <span><img src="../../assets/imgs/power.png"/></span>
                      <span>Logout</span></a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <!--===============================================================-->
      <!--End of Navbar-->
      <!--===============================================================-->

      <!--===============================================================-->
      <!--Start of Left sidebar -->
      <!--===============================================================-->
      <aside id ="side-nav" class=" side-nav">
   
          <ul>
            <li>
              <a href="./adminDashboard.html">
                <span><img src="../../assets/imgs/user.png"/></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="./viewAllApplications.html">
                <span><img src="../../assets/imgs/document.png"/></span>
                <span>View Applications</span>
              </a>
            </li>
            <li class="active">
              <a href="./viewUsers.html">
                <span><img src="../../assets/imgs/text-book-view.png"/></span>
                <span>View Users</span>
              </a>
            </li>
            <li>
              <a href="./viewCurrentLoans.html">
                <span><img src="../../assets/imgs/loan.png"/></span>
                <span>Current Loans</span>
              </a>
            </li>
            <li>
              <a href="./viewRepaidLoans.html">
                <span><img src="../../assets/imgs/wallet.png"/></span>
                <span>Repaid Loans</span>
              </a>
            </li>
            <li>
                <a href="./payLoan.html">
                 <span><img src="../../assets/imgs/credit-card.png"/></span>
                 <span>Pay Loan</span>
                </a>
            </li>
            <li>
              <button class="dropdown-btn">
                <img src="../../assets/imgs/gear.png" />
                <span>Settings</span>
                <img
                  class="caret-down"
                  src="../../assets/imgs/caret-down.png"
                />
              </button>
              <div class="settings-container">
                <a href="./completeProfile.html">Complete Profile</a><br><br>
                <a href="./Profile.html">View Profile</a><br><br>
                <a href="./Profile.html">Blacklist</a>
              </div>
            </li>
          </ul>
   
      </aside>
      <!--===============================================================-->
      <!--End of Left sidebar -->
      <!--===============================================================-->

      <!--===============================================================-->
      <!--Start of Dashboard Content -->
      <!--===============================================================-->

      <main class="main-content view-app">
        <div class="view-application users">
          <table>
            <tr class="table-header">
              <th>User Name</th>
              <th>Email Adress</th>
              <th>Date Joined</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>jkadhuwa</td>
              <td>jkadhuwa@live.com</td>
              <td>23-10-2018</td>
              <td>Unverified</td>
              <td>
                <a
                  class="btn btn-view"
                  role="button"
                  href="./clientProfiles.html"
                  >View
                </a>
                <button type="submit" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Sandrine</td>
              <td>sandrineRigerwo@live.com</t>
              <td>23-7-2018</td>
              <td>Verified</td>

              <td>
                <a
                  class="btn btn-view"
                  role="button"
                  href="./clientProfiles.html"
                  >View
                </a>
                <button type="submit" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Musinda</td>
              <td>Musinda@live.com</t>
              <td>23-10-2018</td>
              <td>Verified</td>
              <td>
                <a
                  class="btn btn-view"
                  role="button"
                  href="./clientProfiles.html"
                  >View
                </a>
                <button type="submit" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </table>
        </div>
        <!--===============================================================-->
        <!--Start of Footer Content -->
        <!--===============================================================-->

        <!--===============================================================-->
        <!--Start of Footer Content -->
        <!--===============================================================-->
      </main>
      <!--===============================================================-->
      <!--End of Dashboard Content -->
      <!--===============================================================-->
    </div>
    <script src="../../scripts/main.js"></script>
  </body>
</html>
