<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>QUICK CREDIT - ANDELA BOOTCAMP-KIGALI</title>
  </head>
  <body>
    <!--Start of Navbar section-->
    <section class="navigation-bar">
      <nav class="navbar">
        <a class="nav-brand" href="../index.html">MKOPO </a>
        <ul class="nav-links">
          <li class="login"><a href="./userLogin.html" hidden>Login</a></li>
          <li class="joinus"><a href="./register.html">Join Us</a></li>
        </ul>
      </nav>
    </section>

    <div class="container">
      <div class="login-form box">
        <form action="./Admin/adminDashboard" method="POST">
          <div class="container">
            <h3 class="md-text">Admin Login</h3>
            <div class="reg input">
              <label class="reg" for="email">Email</label>
              <input
                class="reg1"
                id="emailReg"
                type="email"
                name="email"
                placeholder="Your Email Address"
                required
              />
            </div>

            <div class="reg input">
              <label class="reg" for="password">Password</label>
              <input
                class="reg1"
                type="password"
                name="password"
                placeholder="Enter Password"
                required
              />
            </div>

            <div class="m2 input">
              <button class="primary-btn" type="submit">
                Login
              </button>
            </div>
            <div class="loginAsUser">
              <a href="./userLogin.html">Login as User</a>
            </div>
			</br>
            <div class="forgot-cred">
              <a href="./resetPassword.html">Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--Start of Footer section-->
    <footer>
      <div class="footer-container">
        <div class="footer-contacts">
          <ul>
            <li>
              <a href="#"
                ><img src="../assets/imgs/phone.svg" /> +254700000000</a
              >
            </li>
            <li>
              <a href="#"
                ><img src="../assets/imgs/mail.svg" /> info@quickcredit.com</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-sm">
          <ul>
            <li>
              <a href="#"><img src="../assets/imgs/facebook.svg"/></a>
            </li>
            <li>
              <a href="#"><img src="../assets/imgs/twitter.svg"/></a>
            </li>
            <li>
              <a href="#"><img src="../assets/imgs/instagram.svg"/></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>Quick Credit Ltd.</p>

        <p>&copy 2019 All Rights Reserved</p>
      </div>
    </footer>
    <!--End of Footer section-->

    <script src="../scripts/main.js"></script>
  </body>
</html>
